extends layout

block content
    div#blocker(style='display: -webkit-box;')
        div#instructions
            h2 Click anywhere to play
            div
                ul Controls:
                    li W, A, S, D = Move
                    li SPACE = Jump
                    li MOUSE = Look around)
    div#gameWindow
    div#hudWindow
        p
            strong How lost you are: 
                span#cameraX initializing
                span ,&nbsp
                span#cameraZ initializing
        div#hudMessages
    div#fishyMap(style='position:absolute;right:1em; top:1em; width:6em; height:6em')
    div#popupArea
