if isAuthenticated
    span.navbar-text Welcome #{user.displayName} 
    button.btn.navbar-btn.btn-warning( fishroute='/authentication/logout') Sign Out
else
    button.btn.navbar-btn.btn-info( fishroute='/authentication/login' ) Sign In
