h2 Level Database Control
button.btn.btn-block.btn-success(fishroute='/editor/level/home') Close DB editor
hr
button.btn.btn-block.btn-primary(fishroute='/editor/level/db/rebuildDb') Rebuild db
hr
button.btn.btn-block.btn-success(fishroute='/editor/level/home') Close DB editor
.alert.alert-info #{status}
