extends layout

block append content

    .container#myContainer
        //-h1 #{pageTitle}
        //-p You are in the <strong>#{programTitle}</strong> program. Select some controls and press the Go button.

        div
            pre#formResults
