extends layout

block content
    h1= title
    p Welcome to #{title}
    button#readLocal Read
    button#readJson ReadJson
    div
        input(value=1)#operatorA
        input(value=1)#operatorB
        button#add Add
    div
        p#display
