extends layout

block content
    h1= title
    p 
        | Welcome to #{title}. Click the options below, and if necessary 
        | scroll down to see the results.

    ul DBO master stuff
        li 
            a(href='/#/databaseName') Get current Database Name and all names
        li
            a(href='/#/createDb') CreateDb
        li
            a(href='/#/deleteDb') DeleteDb
    ul NPC stuff
        li
            a(href='/#/insertBulk') Insert Game Data in Bulk
        //li
        //a(href='/#/insertOneDoc') Insert Game Data as one document
        li
            a(href="/#/insertDesignDoc") Insert Design Doc
        li 
            a(href="/#/viewNpc") View By Name
        li
            a(href="/#/insertNewNpc") Add new NPC to database

    p {{debug}}

    div
        div(data-ng-view='')
