extends layout

block content
    h1= title
    h2= subtitle
    div(class='.container')
        div(class='row')
            div(class='col-sm-3 col-primary btn-group-vertical')#buttonPanelControls
            div(class='col-sm-9 jumbotron')
                h3#responseTitle Welcome
                div#responseBody Select a button on the left when they load..
