h2 NPC Database Control
button.btn.btn-block.btn-success(fishroute='/editor/npc/home') Close DB editor
hr
button.btn.btn-block.btn-primary(fishroute='/editor/npc/db/rebuildDb') Rebuild db
hr
button.btn.btn-block.btn-warning(fishroute='/editor/npc/db/deleteDb') Delete db
hr
button.btn.btn-block.btn-success(fishroute='/editor/npc/home') Close DB editor
.alert.alert-info #{status}
