extends layout

block content
    h1= title
    h2= subtitle
    div(class='.container')
        div(class='row')
            div(class='col-sm-3 col-xs-12 col-primary')#buttonPanelControls
            div(class='col-sm-9 col-xs-12 jumbotron')
                h3#responseTitle Welcome
                div#responseBody Select a button on the left when they load..
