doctype html
html
    head
        title= title
        script(data-main='javascripts/main' src='/components/requirejs/require.js')
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href = '/stylesheets/style.css')
    body
        block content
