extends layout

block content
    h1= title
    p please sign in below:

    div
        a.btn.btn-primary(href='/facebook/login') Log In with Facebook
    //- div
    //-     button(fishroute="/facebook/profile") Facebook Profile

    div
        a.btn.btn-primary(href='/auth/google') Log In Google
    //- div
    //-     button(fishroute='/auth/account') Google Account

    //- div
    //-     button(fishroute='/logout') Logout

    button#buttonStatus Information

    div
        pre#report
    div
        pre#debug
