extends layout
include mixin-littleMenu
include mixin-sections

block content
    h1= title
    p Welcome to #{title}
    +littleMenu
    #accordion.panel-group
        +page-basics
        +page-database
        +page-authentication

    //div#buttonPanel
    pre(class='jumbotron')#responseArea Welcome
    pre(class='well')#viewcount
    pre(class='alert alert-info')#debug Errors show up here
