extends layout

block content
    h1= title
    p Welcome to #{title}
    div
        button#sendString Send String
        p#stringHolder
        p#readyCalled
    div
        button#getItems Get Items
        button#getMarie Get Marie
        ul#myList
