extends layout
include mixin-radios
include mixin-inputs

block append content

    .container
        h1 #{pageTitle}
        p You are in the <strong>#{programTitle}</strong> program. Select some controls and press the Go button.

        +elfFormPanel("Main Form")#target
            +elfPanel("CheckBoxes")
                +elfCheckBox("Kurosawa", "checkBox01", "checkBox01")#checkBox01
                +elfCheckBox("Tolstoy", "checkBox02", "checkBox02")#checkBox02
                +elfCheckBox("Mifune", "checkBox03", "checkBox03")#checkBox03

            +elfRadioPanel("Radio Buttons")
                +elfRadio("Seven Samurai", "option1")
                +elfRadio("Ran", "option2")
                +elfRadio("Rashomon", "option3")
                +elfRadio("High and Low", "option4")
                +elfRadio("Ikiru", "option5")

            +elfPanel("Input")
                +elfInput("Enter a name", "subject", "Enter a subject")#subject.form-control

            +elfPanel("Actions")
                input.btn.btn-primary(type="submit", value="Go")

        div
            pre#formResults
