mixin littleMenu
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            // Brand
            .navbar-header
                button.navbar-toggle.collapsed(type='button',
                    data-toggle='collapse',
                    data-target='#bs-example-navbar-collapse-1',
                    aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

                a.navbar-brand(href='/')
                    img(alt='Isit320', src='favicon.png')
            // Nav Links
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                button.btn.btn-primary( data-target='#panel-basics-page' data-toggle='collapse' )
                    | Basics
                    //-span.sr-only (current)
                button.btn.btn-primary( data-target='#panel-database-page' data-toggle='collapse' ) Database
                button.btn.btn-primary( data-target='#panel-authentication-page' data-toggle='collapse' ) Authentication
