extends layout

block content
    h1= title
    p Welcome to #{title}

    p Hello from the server

    p#intro Test

    ul
        li.listItem Item01
        li.listItem Item02
        li.listItem Item03

    h2 Results from server
    p#result
    p#route
    p#message
